#this file holds custom messages for your server. Using the ':' colon character in your message will break things

General Info: Welcome to Dan, Joey, and Ryan's Minecraft Server with DwarfCraft, Towny, and InterestingPlaces. We want you to have a good time, but there are a few rules you should follow. Use /dc rules to get the rules message. For more information about DwarfCraft, use /dc help. For more information about Towny, use /towny help.

Server Rules: (1)Play to have fun. /n(2)You should know how you got here, how you're connected to Dan/Joey/Ryan. /n(3)All non-trivial aboveground constructions should be out of line-of-site of every other construction that you don't have permissions from. /n(4)All constructions that are not connected by road to another construction are "Wilderness" and may be freely improved, broken, or griefed. /n(5)Use the tools provided, but don't exploit them. Report bugs right away.