####
# This is the default configuration setup for DwarfCraft
# 
# Blank lines and lines that start with # are ignored.
# Missing keys will use an appropriate default value.
# Invalid keys are ignored.
#
####


####Manually set the skills file version to use. Use skills.config.v99 for version 99
#Skills File Name: skills.config

####Manually set the effects file version to use. Use effects.config.v99 for version 99.
#Effects File Name: effects.config

#Messages File Name: messages.config
#Database File Name: dwarfcraft.db

#####Default Dwarf/Dwarves
#Primary Race Name:
#Primary Race Plural:
####Default Elf/Elves
#Secondary Race Name:
#Secondary Race Plural: